* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    min-height:100dvh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    background:#0f172a;
    padding: 0 20px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
}

.background {
    position:fixed;
    inset:0;
    background:
    radial-gradient(circle at top left,#2563eb 0%,transparent 40%),
    radial-gradient(circle at bottom right,#7c3aed 0%,transparent 45%);
    filter:blur(80px);
}

.app {
    position:relative;
    margin-bottom: 30px;
}

.hero {
    margin-top: auto;
    padding:30px 0;
    color:white;
}

.hero h1 {
    font-size:3rem;
    margin-bottom:10px;
}

.hero p {
    opacity:.7;
}

.card {
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(25px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:24px;
    padding:30px;
    box-shadow:
    0 20px 60px rgba(0,0,0,.35);
}

.input-group {
    display:flex;
    gap:15px;
}

input {
    flex:1;
    padding:16px;
    border:none;
    border-radius:14px;
    outline:none;
    font-size:1rem;
    background:rgba(255,255,255,.15);
    color:white;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

input::placeholder {
    color:rgba(255,255,255,.55);
}

button {
    padding:16px 28px;
    border:none;
    border-radius:14px;
    background:#3b82f6;
    color:white;
    cursor:pointer;
    transition:.25s;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
}

button:not(:disabled, .edit-btn):hover {
    transform:translateY(-2px);
    background:#2563eb;
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

button:disabled {
    transform: none;
    background-color: rgba(255,255,255,.55);
    cursor: not-allowed;
}

#notes {
    margin-top:25px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

/* JavaScript gaat deze class gebruiken */

.note {
    background: rgba(255,255,255,.08);
    border: 1px solid rgba(255,255,255,.15);
    border-radius: 14px;
    padding: 8px 16px;
    color: white;
    animation: slide .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,.1);
    max-width: 100%;      /* zorgt dat .note zelf niet breder wordt dan de ouder */
    box-sizing: border-box;
}

.note > input {
    max-height: 45.33px;
}

.note-text {
    font-size: 1.3rem;
    font-weight: 300;
    overflow-wrap: break-word;
    hyphens: auto;
    min-width: 0;
    flex: 1 1 auto;
}

.edit-btn {
    margin-left: auto;
    padding: 12px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border:1px solid rgba(255,255,255,.15);
}

.edit-btn:hover {
    transform:translateY(-2px);
    background-color:rgba(255,255,255,.25);
    box-shadow: 0 10px 30px rgba(0,0,0,.25);
}

.delete-btn {
    padding: 12px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-btn > img,
.delete-btn > img {
    width: 20px;
    height: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 50px 20px;
    text-align: center;
    background:rgba(255,255,255,.08);
    color: white;
    backdrop-filter:blur(25px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:24px 24px 0 0;
    padding:30px;
    box-shadow:
    0 20px 60px rgba(0,0,0,.35);
}

@keyframes slide {
    from {
        opacity:0;
        transform:translateY(-10px);
    }

    to {
        opacity:1;
        transform:translateY(0);
    }
}

@media (max-width: 678px) {
    body {
        padding: 0 10px;
    }

    .card {
        padding: 20px;
    }
}